target/
.idea/
.vscode/
.rocks/
tmp/
*.iml
.DS_Store
*.swp
*.swo
*.tar
*.gz
*.tar.gz
.m2/repository
*.snap
*.xlog
target
*.bkp
.classpath
.settings
.project
workbench.xmi
.svace-dir
.factorypath
documentation/_site/
