stages:
  - ee_tests
  - package

variables:
  MAVEN_OPTS: >-
    -Dmaven.repo.local=$CI_PROJECT_DIR/.m2/repository
    -Dorg.slf4j.simpleLogger.showDateTime=true
    -Dorg.slf4j.simpleLogger.dateTimeFormat=HH:mm:ss
  MAVEN_CLI_OPTS: >-
    --settings ${CI_PROJECT_DIR}/.m2/ci.settings.xml
    --errors
    --fail-at-end
    --show-version
    -DskipTests
    -Darguments=-DskipTests
    -Dcheckstyle.skip
    -Ddependency-check.skip
  CI_RUNNER: "k8s-gitlab-runner"

cache:
  paths:
    - .m2/repository

.dind:
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ""
    
    KUBERNETES_MEMORY_REQUEST: "2Gi"
    KUBERNETES_MEMORY_LIMIT: "10Gi" 
    KUBERNETES_CPU_REQUEST: "4"
    
    KUBERNETES_SERVICE_CPU_REQUEST: "2"
    KUBERNETES_SERVICE_MEMORY_REQUEST: "2Gi"
    KUBERNETES_SERVICE_MEMORY_LIMIT: "10Gi"

# Trigger `Tarantool Java SDK` enterprise tests run
run_ee_tests:
  stage: ee_tests
  allow_failure: true
  trigger:
    project: tarantool/java/tarantool-java-sdk-ee-testing
    strategy: depend
    branch: master
  variables:
    MAIN_REPO_SHA: "${CI_COMMIT_SHA}"
    MAIN_REPO_COMMIT_REF_NAME: "${CI_COMMIT_REF_NAME}"
    PARENT_PIPELINE_ID: "${CI_PIPELINE_ID}"

run_ee_release:
  stage: package
  allow_failure: true
  only:
    refs:
      - tags
    variables:
      # see https://docs.gitlab.com/ee/user/packages/maven_repository/#version-validation
      - $CI_COMMIT_TAG =~ /^(\.?[\w\+-]+\.?)+$/
  trigger:
    project: tarantool/java/tarantool-java-sdk-ee
    strategy: depend
    branch: master
  variables:
    MAIN_REPO_SHA: "${CI_COMMIT_SHA}"
    MAIN_CI_COMMIT_TAG: "${CI_COMMIT_TAG}"
    PARENT_PIPELINE_ID: "${CI_PIPELINE_ID}"
