name: Spotless Check

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  push:
    branches: [ master ]
    paths:
      - '**/*.java'
      - 'pom.xml'
      - '**/pom.xml'
      - '**/src/main/resources/**'
      - '**/src/test/resources/**'
  pull_request:
    branches: [ master ]
    paths:
      - '**/*.java'
      - 'pom.xml'
      - '**/pom.xml'
      - '**/src/main/resources/**'
      - '**/src/test/resources/**'
  workflow_dispatch:

jobs:
  spotless-check:
    runs-on: tarantool-delivery-runners
    continue-on-error: true

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          distribution: 'zulu'
          java-version: '17'
          cache: 'maven'

      - name: Run Spotless Check
        run: ./mvnw --batch-mode spotless:check
